<div id="contactTitle">
	<h2>Mis Redes Sociales</h2>
</div>

<!--Agregando target="_blank" Logramos que un link se abra en una pestaña nueva-->
<div class="containerContacts">

	<div class="divs">
		<a href="https://www.facebook.com/yeison.serrano.danielito" target="_blank">
			<img id="facebook" src="../../assets/img/facebook.png">	
		</a>
	</div>

	<div class="divs">
		<a href="https://www.linkedin.com/in/yeison-serrano-1bb1251a6/" target="_blank">
			<img id="linkedin" src="../../assets/img/linkedin.png">
		</a>
	</div>
	
	<div class="divs">
		<a href="mailto:ydanielsb97@gmail.com" target="_blank">	
			<img id="gmail" src="../../assets/img/gmail.png">
		</a>
	</div>

</div>
