<header>
<ul>

  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
  <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li id="logo"><a href="#">YS</a></li>
  <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>

</ul>
</header>
<section id="content">

<router-outlet></router-outlet>

</section>

<footer>
  Master en JavaScript de victorroblesweb.es &copy;
</footer>